@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.yellow{
    color: #FFDE59;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
textarea
{
resize: none;
overflow-y: scroll;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.img-responsive{
    width: 5rem;
    height: 5rem;
    margin-top: -1rem;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: center;
}

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #FFDE59;
}
p{
    margin: 0;
    padding: 0;
}
/* 
.clearfix{
    clear: both;
    float: none;
} */
/* navbar */
.navbarr{
    width: 100%;
    margin-top: -7px;
    padding: 12px 0px 2px 0px;
}
.navbarr .menu ul li a:hover {
    color: #FFDE59 !important;
}
.navbarr .menu ul li a:active {
    color: #FFDE59;
}

.logo{
    width: 10%;
    margin-left: 10px;
    float: left;
}
.menu{
    line-height: 40px;
    margin-left: 10px;
    width: 75%;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-size: large;
    font-weight: bold;
}
/* main -img */
.img-main{
    position: absolute;
    margin-left: 47rem;
    height: 30rem;
    margin-top: 3rem;
}
.content{
    position: absolute;
    margin-left: 10rem;
    margin-top: 10rem;
}
.main-text{
    font-size: xx-large;
}
/* The Modal (background) */
.modaly {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; 
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,0.4); 
    
  }
  
  /* Modal Content/Box */
  .modaly-content {
    background-color: #fefefe;
    margin: 4% auto auto 20%; /* 15% from the top and centered */
    padding:10px 40px 40px 40px;
    border: 1px solid #888;
    max-width: 920px; /* Limit the maximum width if needed */
    min-height: 650px; /* Limit the maximum height to 80% of viewport height */
    overflow-y: auto; 
    
  }
  .pop-up-content{
    padding-top: 4rem;
  }
  /* The Close Button */
  .close {
    color: #FFDE59;
    float: right;
    top: 0;
    font-size: 48px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
/* add-project */
.projectAdd{
    width: 80%;
    margin-left: 4rem;
}
.projectAdd-form{
    padding-top: 20px;
    padding-left: 10px;
}
/* table */
.display-table {
    position: absolute;
    max-width: 1000px;
    margin-left: 21rem;
    margin-right: auto;
    padding:40px 50px 40px 50px;
    border: 7px solid #FFDE59;
    border-radius: 50px;
    font-family: 'lato', sans-serif;
}
.table-show{
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: #ffffff;
    width: 800px;
}
.odd{
    background-color: #ffefb0 !important;
}
.pagination {
    padding-top: 10px; }
.active>.page-link, .page-link.active {
    z-index: 3;
    /* color: var(--bs-pagination-active-color); */
    background-color: black;
    border-color: #FFDE59;
}
.navi {
    color: #000000 !important; 
    text-decoration: none;
}
@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }
  /* .table-row{  } */
  li {
    display: block;
     }
    .col {
    flex-basis: 100%;
    }
    .col {
    display: flex;
    padding: 10px 0;
    &:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
        }
      }
    }
  
.home-overlay {
    width: 100%;
    /* background: #000; */
    position: absolute;
    top: 0;
    opacity: .5;
}

small {
    color: gray;
    display: block;
}

h6 {
    font-size: 14px;
}

label {
    color: #000;
    font-size: 14px;
}

#checktext {
    padding: 0 !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    color: black;
}

.card.white {
    padding: 10px;
    padding-left: 0px;
    border-radius: 20px;
}

.card .card-content {
    padding: 0;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 15px;
}

#logintype{
    padding-left: 10px;
    border: 2px solid #000000;
}
#loginpassword {
    padding-left: 10px;
    border: 2px solid #000000;
}

#loginid {
    padding-left: 10px;
    border: 2px solid #000000;
}

#signinemail {
    padding-left: 10px;
    border: 2px solid #000000;
}
#usertype{
    padding-left: 10px;
    border: 2px solid #000000;
}
#signinPRN {
    padding-left: 10px;
    border: 2px solid #000000;
}

#signinpassword {
    padding-left: 10px;
    border: 2px solid #000000;
}

#studresetemail {
    padding-left: 10px;
    border: 2px solid #000000;
}

.progress {
    visibility: hidden;
    margin-left: 5px;
}

#loginprogress {
    margin: 0px;
    margin-left: 5px;
}

#signinprogress {
    margin: 0px;
    margin-left: 5px;
}

#resetprogress {
    margin: 0px;
    margin-left: 5px;
}

#breathing-button {
    -webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.btn {
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: none;
    margin-top: 10px;
    font-weight: bold;
}
.logout-btnn{
    position: relative;
    margin-top: -20px;
    float:right;
}
.card.white.admin-login {
    padding: 0;
    margin-top: 30px;
}

.heading-card {
    background-color: transparent;
}

h3 {
    color: white;
    position: relative;
    padding: 15px;
}

h4 {
    font-weight: bold;
    margin-top: 10px;
    font-size: 35px;
    color: #000000;
}

h5 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
}

@media screen and (min-width: 861px) {
    .login-card {
        margin: auto;
        width: 30%;
        margin-top: 4%;
    }
}

@media screen and (max-width: 1024px) {
    .login-card {
        margin: auto;
        width: 60%;
        margin-top: 15%;
    }
}

@media screen and (max-width: 560px) {
    h3 {
        font-size: 33px;
    }

    .login-card {
        margin: auto;
        width: 90%;
        margin-top: 20%;
    }
}

@media screen and (max-width: 375px) {
    h3 {
        font-size: 33px;
    }

    .login-card {
        margin: auto;
        width: 90%;
        margin-top: 10%;
    }

    .home-overlay {
        height: 120%;
    }
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row {
    margin-bottom: 0px !important;
}

.box .row.header {
    flex: 0 1 auto;
    margin-bottom: 5px !important;
}

.box .row.content {
    flex: 1 1 auto;
    border: 2px double #000000;
}

.box .row.footer {
    flex: 0 1 40px;
}
.material-icons{
    background-color: #FFDE59;
}
/* profile-page */
body{
    background: #fff;
}
.emp-profile{
    width: 60%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background:#FFDE59 ;
}
.profile-img{
    text-align: center;
}


.profile-img img{
    width: 70%;
    height: 12rem;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #fff;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #FFDE59;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #fff;
}

/* add team */
.teamAdd{
    width: 80%;
    margin-left: 4rem;
}
/* chat table */
#chat3 .form-control {
    border-color: transparent;
    }
    
    #chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .badge-dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 2.9rem;
    margin-top: -.75rem;
    }

    #chatroom::after {
        content: "";
        display: block;
        height: 20px; /* Adjust this value as needed */
    }
    
    textarea[type="text"]::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    textarea[type="text"]::-webkit-scrollbar-thumb {
        background: transparent; /* Color of the thumb */
    }

    textarea[type="text"]::-webkit-scrollbar-track {
        background: transparent; /* Color of the track */
    }